body{
  padding: 0;
  margin: 0;
}
 

.container{
  display: grid;
  justify-content: center;
  background-color: #ccc;
  grid-template-columns: repeat(4, 100px);
   
  
}

.item{ 
  box-sizing: border-box;
  text-align: center;
  background-color: aqua; 
  padding: 15px;
  font-size: 1.375rem; 
  border: 1px solid #111;
}

.item8{
  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 7; 
}

.item8{
  display: grid;
  align-items: center; 
}

.item0{
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
  margin: 0;
}

form input{
  box-sizing: border-box;
  border: 1px solid #111;
  padding: 20px;
  width: 400px;   
  font-size: 1.375rem; 
}

.calc{
  padding: 0;
  margin: 0;
}
