body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
 h1{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
 }
 
  .inputs{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 50px;
  padding: 8px 30px 8px 30px;
 }
 #calc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 }
 
 .container{ 
  width: 800px;
  height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .container div{
  margin-top: 8rem;
  width: 350px;
  height: 450px;
  background-color: aqua;
 }
 